/* Error: expected "{".
 *    ,
 * 12 |   $font-stack-primary       : 'Lato', sans-serif;
 *    |                                                 ^
 *    '
 *   scss/utilities/_variables.scss 12:49  @import
 *   scss/utilities/_index.scss 2:9        @import
 *   scss/styles.scss 13:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 12 \2502    $font-stack-primary       : 'Lato', sans-serif;\a    \2502                                                  ^\a    \2575 \a   scss/utilities/_variables.scss 12:49  @import\a   scss/utilities/_index.scss 2:9        @import\a   scss/styles.scss 13:9                 root stylesheet";
}
