//====================//
// V A R I A B L E S //
//===================//

// B A S E
===========

// _normalize

// _base
  // Font Styles
  $font-stack-primary       : 'Lato', sans-serif;
  // Colour
  $color-primary      : #777;

// _typography
  $color-primary      : #777;
  $color-accent       : #58e1c1;
  $color-link         : #51ddfc;



//U T I L I T I E S
===================

// _variables

// _mixins

// _functions

// _helpers



// C O M P O N E N T
====================

// _nav
  $white           : #fff;
  $color-accent    : #58e1c1;

// _header

// _form
  $color-accent    : #58e1c1;

// _grid
  $theme-col  : (
    $col-1  : #927bc1,
    $col-2  : #fd7856,
    $col-3  : #deb2ee,
    $col-4  : #7ee6fd,
    $col-5  : #88d9a0,
    $col-6  : #4da2bb,
    $col-7  : #ec9fa3,
    $col-8  : #fd9f85,
    $col-9  : #e4757a,
    $col-10 : #63cc82,
    $col-11 : #51ddfc,
    $col-12 : #80e8d1
  );

// _button
  $white         : #fff;

  $color-button : (
      'default'  : #51ddfc,
      'error'    : #e4757a,
      'info'     : #927bc1,
      'success'  : #63cc82,
      'warning'  : #fd7856,
  );

// _icons

// _images
  $color-shade: #ccc;

// _footer



// Breakpoints
$med                : 768px;

//@media (min-width: $med) {}

// Media Query Mixin
@mixin mq($break) {
    @if $break == 'med' {
      @media (min-width: $med){
        @content;
      }
    }
}





















// Colour
//$base             : (?);
//$base-dark        : darken($base, 33%)
//$base-light       : lighten($base, 33%)

// Complementary Colours
//$complement       : complement($base);
//$complement-dark  : darken($base, 13%);
//$complement-light : lighten($base, 13%);

//$default          : #51ddfc;
//$success          : #63cc82;
//$error            : #e4757a;
//$warning          : #fd7856;
//$info             : #927bc1;

//$white      : #fff;
//$gray-dark  : darken($white, 50%);
//$gray-light : darken($white, 25%);
//$cyan: #58e1c1;
//$magenta: #deb2ee;
//$cyan-dark: #4da2bb;
//$green: #88d9a0;
//$pink-red: #ec9fa3;
//$red-orange: #fd9f85;
//$green-cyan: #80e8d1;

// Grid Colors
//$col-4            : $cyan; 
//$col-3            : $magenta;
//$col-6            : $cyan-dark;
//$col-5            : $green;
//$col-7            : $pink-red;
//$col-8            : $red-orange;
//$col-12           : $green-cyan;



 