/* ============================================= */
/*              Buttons                          */
/* ============================================= */

$white         : #fff;

$color-button : (
    'default'  : #51ddfc,
    'error'    : #e4757a,
    'info'     : #927bc1,
    'success'  : #63cc82,
    'warning'  : #fd7856,
);

//@mixin buttons('color-button') {
//   $
//}

//@if $
//$default: map-get($color-button, 'default'),



.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: 'default';
}

.error {
  background-color: 'error';
}

.info {
  background-color: 'info';
}

.success {
  background-color: 'success';
}

.warning {
  background-color: 'warning';
}


@media (min-width: 768px) {

  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
}