/* ============================================= */
/*              Base styles                      */
/* ============================================= */


// Font Styles
$font-stack-primary       : 'Lato', sans-serif;
// Colour
$color-primary      : #777;


* {
    font-family         : $font-stack-primary;
    color               : $color-primary;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }